# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Removed dist so it is included in our beanstalk repo
#dist
bower_components
node_modules
npm-debug.log
vendor
