.content-info {
  background: url("../images/footer-background1.jpg") no-repeat scroll 50% / cover $elephant;
  padding: 0 0 40px 0;
  color: white;
  position: relative; // hack to fix odd gap
  bottom: -2px;

  .twitget {
    list-style-type: none;
    list-style-image: url(../images/twitter.png);
    padding-left: 20px;
    &> li {
      font-family: $museo-stack;
      font-weight: 100;
      font-style: normal;
      font-size: 14px;
    }
  }
  .bird {
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    width: 222px;
    margin-top: -24px;
  }
  .simple_tweet_widget-2 {
    margin-bottom: 40px;
  }
  .proudly-hosted {
    font-family: $fira-stack;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    color: white;
  }
  .mpl {
    margin-top: 50px;
  }
  .hosting {
    text-align: center;
    padding: 30px 0;
    float: none;
    margin-top: 0;

    .digital-realty {
      margin-left: 40px;
      margin-right: 0;
    }
  }
  .menu {
    list-style-type: none;
    padding-left: initial;
    margin-top: 8px;

    .menu-item {
      &> a {
        font-family: $fira-stack;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        color: $polo-blue;
        transition: 0.5s ease;
        &:active {
          color: $froly;
          background-color: transparent;
        }
        &:hover {
          color: $froly;
          font-weight: 400;
          font-style: normal;
          text-decoration: none;
        }
      }
    }
  }
  .customizer {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .btn-standard {
    border-radius: 0;
    border: 2px solid $froly;
    background: transparent;
    padding: 8px 30px;
    position: relative;
    z-index:20;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    float: none;
    transition: 0.5s ease;
    &:hover, &:visited {
      background: transparent;
      border-radius: 0;
      border: 2px solid $froly;
      color: $froly;
      &:active {
        background: transparent;
        border-radius: 0;
        border: 2px solid $froly;
        color: $froly;
      }
    }
  }
  .adjustment {
    padding: 30px 0;
    margin-top: 33px;
    .title {
      font-size: 16px;
    }

  }
  .vignette {
    background-image: linear-gradient(90deg,
            rgba(8, 33, 50,0.4)0%,
            rgba(11,44,67,0) 50%,
            rgba(11,44,67,.8) 80%);
    padding: 76px 30px 0 0;
    height: 146px;
    position: absolute;
    width: 100%;
  }
  .social-wrapper {
    padding: 0 0 50px;
    .social {
      list-style-type: none;
      padding-left: 0;
      float: none;
      margin-top: 40px;
      text-align: center;
      .item {
        display: inline;
        white-space:nowrap;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .fa {
        font-family: "FontAwesome";
        font-size: 24px;
      }
    }
  }
  .button-wrapper {
    padding: 0 15px;
    margin-top: 10px;
  }
}
@media (min-width: $screen-xs-min) { // min-width 480

}
@media (min-width: $screen-sm-min) { // min-width 768
  .content-info {
    .hosting {
      float: right;
      text-align: right;
      padding: 0 15px;
      margin-top: 90px;
      .digital-realty {
        margin-right: -30px;
      }
    }
  }
}
@media (min-width: $screen-md-min) { // min-width 992
  .content-info {
    .bird {
      margin-top: 24px;
    }
    .social-wrapper {
      padding: 31px 0 0 0;
      float: right;
      .social {
        position: relative;
        margin: 30px 0 0;
        text-align: left;
        float: right;
        .icon {
          margin: 0 0 0 9px;
        }
      }
    }
    .mpl {
      margin-top: 0;
      p {
        font-style: italic;
      }
    }

    .button-wrapper {
      padding: 0;
      float: right;
      .btn-standard {
        float: right;
      }
    }
    .hosting {
      .digital-realty {
        margin-right: -15px;
      }
    }
  }
  .adjustment {
    padding: 57px 0;
  }
  .vignette {
    position: absolute;
    right: 2px;
    width: 600px;
  }
}
@media (min-width: $screen-lg-min) {  // min-width 1200

}