

.navbar-default {
  border: 0;
  .navbar-brand {
    font-family: "museo-slab",serif;
    color: white;
    span {
      color: #b3ccea;
      &:hover {
        color: #b3ccea;
      }
    }
    &:hover {
      color: white;
    }
  }

  .navbar-nav {
    &> li {
      &.active {
        &> a {
          font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 300;
          color: rgba(202,131,133,1);
          background-color: transparent;
          &:hover {
            color: rgba(202,131,133,1);
            background-color: transparent;
          }
        }
      }

      &> a {
        font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        color: white;
        padding: 13px 12px;
        &:active {
          color: rgb(202,131,133);
          background-color: transparent;
        }
        &:hover {
          color: rgba(202,131,133,1);
          font-weight: 300;
        }
      }
    }
  }
  .navbar-collapse {
    border: 0;
    box-shadow: none none;
    float: right;
    background-color: rgba(12,40,59,.8);
    position: relative;
    top: 35px;
  }

  .navbar-toggle {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 0;
    border-radius: 0;
    &:hover, &:focus {
      background-color: transparent;
      border: 0 none;
    }
    /* Nav Icon */

    #nav-icon {
      width: 37px;
      height: 33px;
      position: relative;
      top: -5px;
      margin: -5px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: rgb(202,131,133);
      border-radius: 0;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
      top: 0px;
    }

    #nav-icon span:nth-child(2) {
      top: 14px;
    }

    #nav-icon span:nth-child(3) {
      top: 28px;
    }

    #nav-icon.open span:nth-child(1) {
      top: 15px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    #nav-icon.open span:nth-child(3) {
      top: 15px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }
}
.banner {
  background: rgba(255,255,255, 0.11);
}


.navbar {
  height: 116px;
  padding-top:30px;
  & > .container {
    width: 100% !important;
  }
  .navbar-header {

  }

  .collapse {
    float: right;
  }
}
.banner-main {
  position: absolute;
  top: 0;
}
.home
.top-content  {
  width: 100%;
  background: url("../images/banner-main.jpg") 0 0 no-repeat rgb(12,40,59);
  height: 80%;
  background-size: 100%, contain;
  position: relative;
  padding-bottom: 30px;
  z-index:10;
  .big-kahuna {
    position: relative;
    top: 0;
    .page-header {
      color: white;
      border: 0;
      margin: 0;
      position: relative;
    }
  }
}
.btn-default {
  border-radius: 0;
  border: 4px solid #f2696f;
  background: transparent;
  padding: 10px 40px;
  position: relative;
  z-index:20;
  color: white;
  font-size: 20px;
  &:hover {
    background: transparent;
    border-radius: 0;
    border: 4px solid #f2696f;
    color: white;
    &:active {
      background: transparent;
      border-radius: 0;
      border: 4px solid #f2696f;
      color: white;
    }
  }
}

.rect1 {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 0;
  transition: 0.25s;
  .cls-2 {
    fill: rgba(202,131,133,0.7);
  }
}
@media (min-width: $screen-sm-min) {
  .rect1 {
    width: 110px;
    position: absolute;
    top: 60px;
    left: -160px;
    z-index: 0;
  }
  .navbar-default {
    .navbar-collapse {
      border: 0;
      box-shadow: none none;
      float: right;
      background-color: transparent;
      position: relative;
      top: 0;
    }
  }
}
@media (min-width: $screen-md-min) {
  .rect1 {
    width: 180px;
    position: absolute;
    top: 140px;
    left: -160px;
    z-index: 0;
    }

}
@media (min-width: $screen-lg-min) {
  .rect1 {
    width: 200px;
    position: absolute;
    top: 140px;
    left: -160px;
    z-index: 0;
  }
}