.sidebar-primary {
  width: 100%;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: white;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: white;
  white-space: nowrap;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: $froly;
  text-decoration: none;
  outline: 0;
  background-color: transparent;
}
.dropdown-menu>li>a:hover {
  text-decoration: none;
  color: $froly;
  background-color: transparent;
}
.navbar-default {
  border: 0;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 320px; // set min width for navbar
  background-color: #071c2d;
  margin: 0;

  .navbar-brand {
    font-family: $museo-stack;
    font-weight: 300;
    font-style: normal;
    color: white;
    position: relative;
    width:200px;
    height: 70px;
    top: -10px;
    right: -9%;

    &:hover {
      color: white;
    }
  }

  .navbar-nav {
    margin: 0;
    &> li {
      &.live {
        &> a {
          font-family: $fira-stack;
          text-transform: uppercase;
          font-weight: 400;
          font-style: normal;
          color: $froly;
          background-color: transparent;
          transition: 0.5s ease;
          &:hover {
            color: $froly;
            background-color: transparent;
          }
        }
      }
      &.active {
        &> a {
          color: white;
          background-color: transparent;
          transition: 0.5s ease;
          &:hover {
            color: $froly;
            background-color: transparent;
          }
        }

      }

      &> a {
        font-family: $fira-stack;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        color: white;
        padding: 13px 11px;
        transition: 0.5s ease;
        &:active {
          color: $froly;
          background-color: transparent;
        }
        &:hover {
          color: $froly;
          font-weight: 400;
          font-style: normal;
        }
      }
    }
  }
  .navbar-collapse {
    border: 0;
    box-shadow: none;
    float: none;
    background-color: $black-pearl;
    position: relative;
    top: 16px;
    margin: 0;
  }

  .navbar-toggle {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: $black-pearl;
    background-image: none;
    border: 0;
    border-radius: 0;
    &:hover, &:focus {
      background-color: transparent;
      border: 0 none;
    }
    /* Nav Icon */

    #nav-icon {
      width: 37px;
      height: 33px;
      position: relative;
      top: -5px;
      margin: -5px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $froly;
      border-radius: 1px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
      top: 0;
    }

    #nav-icon span:nth-child(2) {
      top: 14px;
    }

    #nav-icon span:nth-child(3) {
      top: 28px;
    }

    #nav-icon.open span:nth-child(1) {
      top: 15px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    #nav-icon.open span:nth-child(3) {
      top: 15px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }
}

.navbar {
  height: 116px;
  padding-top:30px;
  & > .container {
    width: 100% !important;
  }
  .navbar-header {

  }

  .collapse {
    //float: right; // float makes text push out of the way
  }
}
.banner-main {
  position: absolute;
  top: 0;
}

.home {
  .top-content {
    background: url("../images/banner-main1.jpg") no-repeat scroll 20% 99% / cover $black-pearl;
    .big-kahuna {
      margin-top: 100px;
    }
    .social {
      margin-top: 200px;
      margin-left: 0;
    }
    .main-cta {
      position: relative;
      top: 54px;
      .col-md-12 {
        padding-left: 0;
      }
    }
  }
}

.error404,
.come-back-soon {
   .top-content {
     background: url("../images/banner-come-back-soon.jpg") no-repeat scroll 20% 99% / cover $black-pearl;
   }

 }
.venue {
  .top-content {
    background: url("../images/venue-banner.jpg") no-repeat scroll 60% 99% / cover $black-pearl;
  }
}
.why-attend {
  .top-content {
    background: url("../images/venue-banner.jpg") no-repeat scroll 60% 99% / cover $black-pearl;
  }
}
.exhibitors {
  .top-content {
    background: url("../images/exhibitions-banner.jpg") no-repeat scroll 20% 99% / cover $black-pearl;
  }
}
.sponsors {
  .top-content {
    background: url("../images/sponsorship-banner.jpg") no-repeat scroll 20% 99% / cover $black-pearl;
  }
}
.connect {
  .top-content {
    background: url("../images/banner-connect.jpg") no-repeat scroll 20% 99% / cover $black-pearl;
  }
}
.come-back-soon,
.venue,
.why-attend,
.exhibitors,
.sponsors,
.connect,
.error404 {
  .top-content {

    .big-kahuna {
      margin-top: 90px;
    }
    .social-wrapper {
      float: left;
      margin-top: 200px;
      width: 100%;

      .social {
        margin: 30px 0;
        float: left;
        text-align: center;
      }
      .btn-standard {
        float: left;
        margin-top: 15px;
      }
    }
  }
}
.top-content  {
  width: 100%;
  position: relative;
  padding: 126px 15px 30px;
  z-index:10;
  .big-kahuna {
    padding-bottom: 14px;
    .page-header {
      color: white;
      border: 0;
      margin: 0;
      position: relative;
    }
  }
  .btn-standard {
    border-radius: 0;
    border: 2px solid $froly;
    background: transparent;
    padding: 10px 40px;
    position: relative;
    z-index:20;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 0 auto;
    transition: 0.5s ease;
    &:hover, &:visited {
      background: transparent;
      border-radius: 0;
      border: 2px solid $froly;
      color: $froly;
      &:active {
        background: transparent;
        border-radius: 0;
        border: 2px solid $froly;
        color: white;
      }
    }
  }
  .btn {
    &:focus {
      color: white;
    }
  }
  .social {
    list-style-type: none;
    padding-left: 0;
    float: left;
    margin-top: 60px;
    text-align: center;
    .item {
      display: inline;
      white-space:nowrap;
    }
    .icon {
      width: 23px;
      height: 23px;
      margin-right: 9px;
      padding: 2px;
    }
  }
}

.rect1 {
  width: 300px;
  position: relative;
  top: -130px;
  left: 40%;
  transform: rotate(90deg);
  transition: 0.25s;
  @include centerer;
}
.rect-red {
  width: 274px;
  top: 50%;
  left: -7%;
  @include centerer;
}
.home {
  .rect-red {
    width: 290px;
    top: 82%;
    left: -7%;
    @include centerer;
  }
}
.why-attend {
  .rect-blue {
    width: 274px;
    top: 50%;
    left: -5%;
    @include centerer;
  }
}
.error404 {
  .rect-red {
    width: 290px;
    top: 50%;
    left: -5%;
    @include centerer;
  }
}
.rect-blue {
  width: 274px;
  top: 50%;
  left: -10%;
  @include centerer;
}
@media (max-width: 767px) {
//  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
//    color: white;
//  }
//  .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
//    color: $froly;
//    background-color: transparent;
//  }
//  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
//    color: $froly;
//    background-color: transparent;
//  }
}
@media (min-width: $screen-xs-min) { // min-width 480
  .top-content {
    .social {
      float: right;
    }
  }

}
@media (min-width: $screen-sm-min) { // min-width 768


  .navbar-default {
    background-color: rgba(255,255,255, 0.11);
    .navbar-collapse {
      border: 0;
      box-shadow: none;
      float: right;
      background-color: transparent;
      position: relative;
      top: 4px;
    }
    .top-content {
      padding: 116px 0 30px;
    }
  }
  .rect1 {
    width: 200px;
    top: 60%;
    left: 0%;
    @include centerer;
  }

  .come-back-soon,
  .venue,
  .why-attend,
  .exhibitors,
  .sponsors,
  .connect,
  .error404 {
    .top-content {

      .social-wrapper {

        .social {
          margin: 10px 0;
        }
        .btn-standard {
          float: right;
          margin-top: 0;
        }
      }
    }
  }
  .venue {
    .top-content {
      h1 {
        &> p {
          font-weight: 400;
        }
      }
      h3 {
        font-size: 60px;
        font-style: italic;
      }

    }
  }
}
@media (min-width: $screen-md-min) { // min-width 992

}
@media (min-width: $screen-lg-min) {  // min-width 1200

}