.page, .post {
  background-color: $concrete;
}

.wrap {
  min-width: 320px; // set min width for site
}
.btn, .btn-standard {
  font-weight: 100 !important; // museo sans
  font-style: normal;
}
.message-wrapper {
  margin: 100px 0;
}
blockquote {
  border: 0;
  padding: 0;
  float: left;
  margin-bottom:0;
  p {
    font-family: $fira-stack;
    width: 100%;
    border-left: 0;
    color: $astronaut;
    font-weight: 600;
    font-style: normal;
    padding-bottom:10px;
    clear: right;
  }
}

.main-content-row {
  margin: 40px 0;
  float: left;

  .introduction {
    font-size: 30px;
    color: $froly;
    line-height: 1.2;
  }


  .image-left,
  .image-right {
    display: none;
    visible: hidden;
  }
  .right-text {
    h2 {
      color: $froly;
      line-height: 1.2;
      font-weight: 100;
      &> strong,
      &> b {
        font-weight: 300;
        font-style: normal;
      }
    }
  }
  .left-text {
    h2 {
      color: $smalt-blue;
      &> p {
        font-weight: 100;
        &> strong {
          font-weight: 300;
          font-style: normal;
        }
      }
    }
  }


  .right-text,
  .left-text {
    line-height: 1.8;
    float: left;
    position: relative;
    .description {
      margin: 60px 0 50px;
      font-size: 16px;
    }

    // Make images touch edge
    .col-sm-4, .col-sm-8, .col-sm-6 {
      padding: 0;
    }
  }

  .image_container {
    img {
      float: left;
      display: block;
    }
  }
  .btn-standard {
    border-radius: 0;
    border: 2px solid $froly;
    background: transparent;
    padding: 8px 30px;
    position: relative;
    z-index:20;
    color: $froly;
    font-size: 20px;
    letter-spacing: 0.1em;
    &:visited {
      background: transparent;
      border-radius: 0;
      border: 2px solid $froly;
      color: $froly;
    }
    &:hover {
      background: $froly;
      color: rgb(255, 255, 255);
      border-color: $froly;
      transition: .25s ease-in-out;
      &:active {
        background: transparent;
        border-radius: 0;
        border: 2px solid $froly;
        color: $froly;
      }
    }
  }
  .connect {
    h2 {
      color: $astronaut;
    }
    .main-content-row {
      float: left;
      margin: 25px 0;
      h2 {
        color: $astronaut;
      }
      &.custom-margin-3, &.custom-margin-4 {
        .col-sm-8 {
          padding: 0;
        }
      }
    }
    .custom-margin-3,
    .custom-margin-4 {
      float: left;
      margin: 25px 0 25px;
    }
    h2 {
      color: $astronaut;
    }
  }
  .text-wrapper {
    padding: 0 15px;
    a {
      color: $froly;
    }
  }

  .social-wrapper {
    display: none;
  }

  // connect page

  .member-wrapper {
    &> div {
      padding: 0;

    }
    .role {
      color: $astronaut;
      font-family: $fira-stack;
      font-weight: 400;
      font-size: 18px;
      margin: 66px 0 36px;
      &:after {
        content: '\003a';
      }
    }
    .member {
      color: $astronaut;
      font-family: $fira-stack;
      font-weight: 600;
      font-size: 28px;

    }
    .title {
      font-size: 14px;
      text-transform: uppercase;
      font-family: $museo-stack;
      font-weight: 700;
      color: $astronaut;
      line-height: 1.6;
    }
    .digits {
      &> a {
        color: $gray;
        font-family: $museo-stack;
        font-weight: 700; // 700 in layout
        font-size: 14px;
        line-height: 1.6;
        &:hover {
          color: $gray;
          text-decoration: none;
        }

      }
    }
  }
}
// connect page
.secondary-content-row {
  margin-bottom: 40px;
}

// modal social icons
.modal-social-wrapper {
  float: left;
  margin: 0;
  width: 100%;
  display: block;

  .social {
    list-style-type: none;
    padding-left: 0;
    float: left;
    margin:0;
    text-align: center;
    .item {
      display: inline;
      white-space:nowrap;
    }
    .icon {
      width: 23px;
      height: 23px;
      margin-right: 9px;
      padding: 2px;
    }
  }
}


.connect {
  .main-content-row {
    margin: 24px 0;
  }
  .description {
    margin-bottom: 30px;
  }
  .main-content-row {
    .social-wrapper {
      margin: 0 0 50px;
    }
  }
}
.connect-title {
  margin: 80px 0 10px;
   &> p {
    font-size: 30px;
    color: $astronaut;
    line-height: 1.2;
     font-family: $fira-stack;
  }
}

.vid-container {
  margin: 100px 0 120px;
  background: url('../images/watch-recap-insights.jpg') no-repeat 50% 0 / cover;
  .fve-video-wrapper {
    margin: 0;
  }
}
.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.description {
  ul {
    list-style: square outside url('../images/bullet.png');
  }
}


// Row Spacing Accomodations

// main
.home {
  .main-content-row {
    .left-text {
      h2 {
        color: $froly;
      }
    }
    .right-text {
      h2 {
        color: $smalt-blue;
      }
    }
  }
  .custom1 {
    float: left;
    margin: 175px 0 0;
    .text-wrapper {
      margin: -84px 0  0;
    }
  }
  .custom2 {
    margin: 150px 0 200px;
  }
  .custom3 {
    .ext-wrapper {
      margin-top: -57px;
    }
  }
}

// why attend
.why-attend {
  .custom3 {
    //adjusts row down away from previous row to match layout
    margin-top: 100px;
    .text-wrapper {
      margin-top: -20px;
    }
  }
}

// venue
.venue {
  .custom1 {
    .text-wrapper {
      margin: 80px 0 60px;
    }
  }
  .custom2 {
    .description {
      margin-top: 0;
    }
    .left-text {
      margin-bottom: 150px;
    }
  }
}
// exhibitors
.exhibitors {
  .main-content-row {
    .left-text {
      h2 {
        color: $froly;
      }
    }
    .right-text {
      h2 {
        color: $smalt-blue;
      }
    }
  }
  .custom2 {
    margin-top: 100px 0 -55px;
  }
  .custom3 {
    .text-wrapper {
      margin-top: 135px;
    }
  }
}
// sponsors
.sponsors {
  .left-text,
  .right-text {
    h2 {
      color: $froly;
    }
  }
  .custom1 {
    float: left;
    margin: 100px 0 30px;
  }
  .custom2 {
    .text-wrapper {
      margin-top: -20px;
    }
    .right-text {
      .description {
        margin-top: 30px;
      }
    }
  }
  .custom3 {
    margin: -30px 0 100px;
  }
}

// connect
.connect {
  .custom5 {
    margin-bottom: 100px;
  }
}


@media (min-width: $screen-xs-min) { // min-width 480
}

@media (min-width: $screen-sm-min) { // min-width 768
  .main-content-row {
    float: left;
    width: 100%;

    .image-left,
    .image-right {
      display: block;
    }
    .social-wrapper {
      float: left;
      margin-top: 100px;
      width: 100%;
      display: block;

      .social {
        list-style-type: none;
        padding-left: 0;
        float: left;
        margin-top: 60px;
        text-align: center;
        .item {
          display: inline;
          white-space:nowrap;
        }
        .icon {
          width: 23px;
          height: 23px;
          margin-right: 9px;
          padding: 2px;
        }
      }
    }
  }

}
@media (min-width: $screen-md-min) { // min-width 992
  .page,
  .post {
    .navbar-default {
      background: $veil;
    }
  }
  .main-content-row {
    float: none;

    .left-text {
      width: 100%;
      .text-wrapper {
        float: right;
      }
    }
    .right-text {
      width: 100%;

    }

    &.left-img {
      float: left;
    }
    &.right-img {
      float: right;
    }
  }
  .message-wrapper {
    margin-right: 100px;
  }
  blockquote {
    float: right;
    margin-bottom: 10px;
    p {
      font-family: $fira-stack;
      width: 300px;
      float: right;
      border-left: 0;
      border-bottom: 2px solid #d4d4d4;
      color: $astronaut;
      font-weight: 600;
      font-style: normal;
      padding: 0 0 10px 0;
      margin: 0 -100px 0 50px;
    }
  }
}
@media (min-width: $screen-lg-min) {  // min-width 1200

}