.page, .post {
  background-color: $concrete;
}
main {
  padding-bottom: 50px;
}
.wrap {
  min-width: 320px; // set min width for site
}
.btn, .btn-standard {
  font-weight: 100 !important; // museo sans
  font-style: normal;
  white-space: normal;
}
.message-wrapper {
  margin: 100px 0;
}
blockquote {
  border: 0;
  padding: 0;
  float: left;
  margin-bottom:0;
  p {
    font-family: $fira-stack;
    width: 100%;
    border-left: 0;
    color: $astronaut;
    font-weight: 600;
    font-style: normal;
    padding-bottom:10px;
    clear: right;
  }
}


.main-content-row {
  margin: 40px 0;
  //float: left;

  .introduction {
    font-size: 30px;
    line-height: 1.2;
    &.smaltblue {
      color: $smalt-blue;
    }
    &.froly {
      color: $froly;
    }
  }


  .image-left,
  .image-right {
    display: none;
    visible: hidden;
  }
  .right-text {
    h2 {
      line-height: 1.2;
      font-weight: 100;
      &> strong,
      &> b {
        font-weight: 300;
        font-style: normal;
      }
    }
  }
  .left-text {
    h2 {
      &> p {
        font-weight: 100;
        &> strong {
          font-weight: 300;
          font-style: normal;
        }
      }
    }
  }


  .right-text,
  .left-text {
    line-height: 1.8;
    float: left;
    position: relative;
    .description {
      margin: 60px 0 50px;
      font-size: 16px;
    }

    // Make images touch edge
    .col-sm-4, .col-sm-8, .col-sm-6 {
      padding: 0;
    }
  }

  .image_container {
    img {
      float: left;
      display: block;
    }
  }
  .btn-standard {
    border-radius: 0;
    border: 2px solid $froly;
    background: transparent;
    padding: 8px 30px;
    position: relative;
    z-index:20;
    color: $froly;
    font-size: 20px;
    letter-spacing: 0.1em;
    &:visited {
      background: transparent;
      border-radius: 0;
      border: 2px solid $froly;
      color: $froly;
    }
    &:hover {
      background: $froly;
      color: rgb(255, 255, 255);
      border-color: $froly;
      transition: .25s ease-in-out;
      &:active {
        background: transparent;
        border-radius: 0;
        border: 2px solid $froly;
        color: $froly;
      }
    }
  }
  // connect page

  .connect {

    .main-content-row {
      float: left;
      margin: 0;
      .row {
        clear: both;
        width: 100%;
      }
      &.custom3, &.custom4 {
        .col-sm-8 {
          padding: 0;
        }
      }
    }
    .custom3,
    .custom4 {
      float: left;
      margin: 25px 0 25px;
    }
  }
  .text-wrapper {
    padding: 0 15px;
    a {
      color: $froly;
    }
  }

  .social-wrapper {
    margin: 0;
    a {
      color: $astronaut;
    }
    .social {
      margin-top: 10px;
      float: left;
    }
  }


  .member-wrapper {
    &> div {
      padding: 0;

    }
    .role {
      color: $astronaut;
      font-family: $fira-stack;
      font-weight: 400;
      font-size: 18px;
      margin: 66px 0 36px;
      &:after {
        content: '\003a';
      }
    }
    .member {
      color: $astronaut;
      font-family: $fira-stack;
      font-weight: 600;
      font-size: 28px;

    }
    .title {
      font-size: 14px;
      text-transform: uppercase;
      font-family: $museo-stack;
      font-weight: 700;
      color: $astronaut;
      line-height: 1.6;
    }
    .digits {
      &> a {
        color: $gray;
        font-family: $museo-stack;
        font-weight: 700; // 700 in layout
        font-size: 14px;
        line-height: 1.6;
        &:hover {
          color: $gray;
          text-decoration: none;
        }

      }
    }
  }

} // .main-content-row

.secondary-content-row {
  margin-bottom: 40px;
}


// modal
// centers image in column in grid
.grid-layout {
  .show-modal {
    border: none;
    background: $concrete;
    outline: none;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 50px;
    .dim {
      //filter: grayscale(100%);
      //opacity: 0.7;
    }
  }
}
// a lighter backdrop from default
.modal-backdrop {
  background-color: rgba(#cbcbcb, 0.5);
}

.exhibitors,
.sponsors {
  &.modal-open {
    .showing {
      img {
        opacity: 1;
        transition: easeInOut 1s;
      }
    }
  }
  .modal {
    position: fixed;
    overflow: auto;
    background-clip: padding-box;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 778px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background: transparent;
    top: 0;
    left: 0;
    right: auto;
    padding: 0;
    }

  .modal-dialog {
    background-color: white;
    box-shadow:  0 0 2px #cbcbcb;
    width: 100%;
    max-width: 778px;
    margin: 0;

    .modal-header {
      background-color: white;
      border: 0;
      padding: 15px 15px 0;
    }
    .modal-body {
      padding: 0 20px 30px;
      top: 25px;
      .modal-social {
        .fa {
          color: $froly;
          font-size: 20px;
        }
      }
      h3 {
        margin: 0;
        font-size: 35px;
        color: $astronaut;
        font-weight: 300;
      }
      .company-url {
        a {
          color: $astronaut;
          font-weight: 300;
        }
      }
      .snippet {
        margin: 20px 0;
      }
      .modal-email-wrapper {
        float: right;
        position: relative;
        top: -27px;
        font-size: 20px;
        margin-right: 20px;
        .fa {
          color: $froly;
        }

      }
    }
    .close {
       padding-right: 20px;
      margin-top: 20px;
      position: relative;
      z-index: 100;
      &:focus,
      &:active {
        outline: none;
      }
    }
    .x-close {
      font-family: $fira-stack;
      font-size: 50px;
      font-weight: 100;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .modal-backdrop {
    display: none;
  }
}





// modal social icons

.modal-social-wrapper {
  float: left;
  margin: 0;
  width: 100%;
  display: block;

  .social {
    list-style-type: none;
    padding-left: 0;
    float: left;
    margin:0;
    text-align: center;
    .item {
      display: inline;
      white-space:nowrap;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.connect-title {
  margin: 0 0 10px;
   &> p {
    font-size: 30px;
    color: $astronaut;
    line-height: 1.2;
     font-family: $fira-stack;
  }
}

.vid-container {
  margin: 100px 0 120px;
  background: url('../images/watch-recap-insights.jpg') no-repeat 50% 0 / cover;
  .fve-video-wrapper {
    margin: 0;
  }
}
.embed-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.description {
  ul {
    list-style: square outside url('../images/bullet.png');
  }
}
// Agenda
.fade-in-element {

}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.agenda {
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .custom { // this hides the top-bar row in mobile
    display: none !important;
  }
  .main-content-row {
    margin: 20px 0;
    float: left;
    display: block;

  }
  .modal-dialog {
    .close,.x-close {
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .left-agenda,
  .right-agenda {
    .time {
      font-family: $expo-stack;
      font-style: italic;
      font-weight: 300;
      animation-delay:0.6s;
      animation-duration: 1s;
      .start {
        font-size: 70px;
        color: $silver;
      }
      .period {
        font-size: 30px;
        color: $froly;
        text-transform: uppercase;
      }
    }

    .session {
      font-family: $museo-stack;
      font-size: 14px;
      line-height: 1.4;
      color: $froly;
      // to vert center on row
      position: relative;
      transform: translateY(20%);
      animation-delay:0.2s;
      animation-duration: 1.5s;
      animation-fill-mode: both;

      .title {
        font-weight: 600;
      }
    }

  }
  .agenda-wrapper {
    .title,
    .short {
      button {
        border: 0;
        background: transparent;
        padding: 0;
        text-align: left !important;
        &:hover {
          background: transparent;
        }
        &:active,
        &:focus {
          outline: 0;
        }
      }
    }

    .fade.in {
      opacity: 0.9;
    }
    .modal {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      h3 {
        font-family: $fira-stack;
        font-size: 50px;
        font-weight: 100;
        line-height: 1;
        margin: 32px 0 40px;
        color: $froly;
      }
      .start {
        font-family: $expo-stack;
        font-style: italic;
        font-weight: 300;
        font-size: 72px;
        line-height: 1;
        color: $silver;
      }
      .period {
        font-family: $expo-stack;
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 1;
        color: $froly;
        text-transform: uppercase;
      }
      .modal-header {
        border-bottom: 0;
        height: 50px;
      }
      .x-close {
        font-family: $fira-stack;
        font-size: 120px;
        font-weight: 100;
        position: relative;
        z-index: 100;
        &:focus,
        &:active {
          outline: none;
        }
      }
      .modal-body {
        border: 0;
        box-shadow: none;
        top: 25px;
        ul {
          margin-bottom: 0;
        }
        .speaker,
        .location {
          color: $froly;
          font-weight:600;
          .colon {
            margin: 0 4px;
          }
        }
        .description {
          font-size: 14px;
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      .close {
        position: relative;
        z-index: 100;
      }
    }
  }
}

// Row Spacing Accommodations

// main
.home {
  .custom1 {
    float: left;
    //margin: 175px 0 0;
    .text-wrapper {
      //margin: -84px 0  0;
    }
  }
  .custom2 {
    //margin: 150px 0 200px;
  }
  .custom3 {
    .text-wrapper {
      //margin-top: -57px;
    }
  }
}

// why attend
.why-attend {
  .custom2 {
    .text-wrapper {
      //margin-top: 100px;
    }
  }
  .custom3 {
    //adjusts row down away from previous row to match layout
    //margin-top: 100px;
    .text-wrapper {
      //margin-top: -20px;
    }
  }
}

// venue
.venue {
  .custom1 {
    .text-wrapper {
      //margin: 80px 0 60px;
    }
  }
  .custom2 {
    .description {
      //margin-top: 0;
    }
    .left-text {
      //margin-bottom: 150px;
    }
  }
}
// exhibitors
.exhibitors {

  .custom2 {
    //margin-top: 100px 0 -55px;
  }
  .custom3 {
    .text-wrapper {
      //margin-top: 135px;
    }
  }
}
// sponsors
.sponsors {

  .custom1 {
    float: left;
   // margin: 100px 0 30px;
  }
  .custom2 {
    .text-wrapper {
     // margin-top: -20px;
    }
    .right-text {
      .description {
        //margin-top: 30px;
      }
    }
  }
  .custom3 {
    //margin: -30px 0 100px;
  }
}

// connect
.connect {
  .custom5 {
    margin-bottom: 100px;
  }
}


@media (min-width: $screen-xs-min) { // min-width 480
  .agenda {
    .left-agenda,
    .agenda-wrapper {
      .modal {
        .modal-dialog {
          width: 80%;
          max-width: 986px;
        }
        .modal-body {
          top: 19px;
        }
        .start {
          font-size: 100px;
        }
        .period {

        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) { // min-width 768
  .navbar {
    &> .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }
  .sponsors,
  .exhibitors {
    .modal {
      top: 25%;
      left: auto;
      right: auto;
    }
    .modal-body {
      padding: 0 80px 30px;
    }
  }

  .main-content-row {
    float: left;
    width: 100%;

    .image-left,
    .image-right {
      display: block;
    }
    .social-wrapper {
      float: left;
      margin-top: 100px;
      width: 100%;
      display: block;

      .social {
        list-style-type: none;
        padding-left: 0;
        float: left;
        margin-top: 60px;
        text-align: center;
        .item {
          display: inline;
          white-space:nowrap;
        }
        .icon {
          width: 23px;
          height: 23px;
          margin-right: 9px;
          padding: 2px;
        }
      }
    }
  }
  .connect-title {
    margin: 80px 0 10px;
  }

  .agenda {
    .main-content-row {
      margin: 0;
    }
    .custom {
      display: block !important;
    }
    .top-bar {
      width: 100%;
      height: 30px;
      border: 0;
      border-right-width: 1px;
      border-right-style: solid;
      -webkit-border-image:
              -webkit-gradient(linear, 0 100%, 0 0, from(rgb(196,196, 196)), to(rgba(0, 0, 0, 0))) 1 100%;
      -webkit-border-image:
              -webkit-linear-gradient(bottom, rgb(196,196, 196), rgba(0, 0, 0, 0)) 1 100%;
      -moz-border-image:
              -moz-linear-gradient(bottom, rgb(196,196, 196), rgba(0, 0, 0, 0)) 1 100%;
      -o-border-image:
              -o-linear-gradient(bottom, rgb(196,196, 196), rgba(0, 0, 0, 0)) 1 100%;
      border-image:
              linear-gradient(to top, rgb(196,196, 196), rgba(0, 0, 0, 0)) 1 100%;
    }
    .left-agenda,
    .right-agenda {
      .bar {
        width: 100%;
        border-right: 1px solid $silver;
        &:before {
          font-family: FontAwesome;
          content: "\f111";
          display: block;
          text-align: right;
          font-size: 5px;
          position: relative;
          right: -3px;
          padding-top: 130%;
          color: $froly;
          z-index: 2;
        }
        &:after {
          content: "";
          display: block;
          padding-bottom: 250%;
        }
      }
    }
  }

}
@media (min-width: $screen-md-min) { // min-width 992
  .page,
  .post {
    .navbar-default {
      background: $veil;
    }
  }
  .main-content-row {
    //float: none;

    .left-text {
      width: 100%;
      .text-wrapper {
        float: right;
      }
    }
    .right-text {
      width: 100%;

    }

    &.left-img {
      float: left;
    }
    &.right-img {
      float: right;
    }
  }
  .agenda {
    .top-bar {
      width: 100%;
    }
    .left-agenda,
    .right-agenda {

      .time {
        font-family: $expo-stack;
        font-style: italic;
        font-weight: 300;
        .start {


        }
        .period {

        }

      }

      // positions fa-circle on right edge of .bar
      .bar {
        width: 100%;
        &:before {
          padding-top: 62%;
        }
        &:after {
          padding-bottom: 200%;
        }
      }
      .session {
        // to vert center on row
        position: relative;
        transform: translateY(20%);
      }
    }
  }
  .message-wrapper {
    margin-right: 100px;
  }
  blockquote {
    float: right;
    margin-bottom: 10px;
    p {
      font-family: $fira-stack;
      width: 300px;
      float: right;
      border-left: 0;
      border-bottom: 2px solid #d4d4d4;
      color: $astronaut;
      font-weight: 600;
      font-style: normal;
      padding: 0 0 10px 0;
      margin: 0 -100px 0 50px;
    }
  }
  .grid-layout {
    max-width: 752px;
    margin: 50px auto;
  }
  // Row Spacing Accommodations

  // main
  .home {
    .custom1 {
      float: left;
      margin: 175px 0 0;
      .text-wrapper {
        margin: -84px 0  0;
      }
    }
    .custom2 {
      margin: 150px 0 200px;
    }
    .custom3 {
      .text-wrapper {
        margin-top: -57px;
      }
    }
  }

  // why attend
  .why-attend {
    .custom2 {
      .text-wrapper {
        margin-top: 100px;
      }
    }
    .custom3 {
      //adjusts row down away from previous row to match layout
      margin-top: 100px;
      .text-wrapper {
        margin-top: -20px;
      }
    }
  }

  // venue
  .venue {
    .custom1 {
      .text-wrapper {
        margin: 80px 0 60px;
      }
    }
    .custom2 {
      .description {
        margin-top: 0;
      }
      .left-text {
        margin-bottom: 150px;
      }
    }
  }
  // exhibitors
  .exhibitors {
    .custom2 {
      margin-top: 100px 0 -55px;
    }
    .custom3 {
      .text-wrapper {
        margin-top: 135px;
      }
    }
  }
  // sponsors
  .sponsors {
    .custom1 {
      float: left;
      margin: 100px 0 30px;
    }
    .custom2 {
      .text-wrapper {
        margin-top: -20px;
      }
      .right-text {
        .description {
          margin-top: 30px;
        }
      }
    }
    .custom3 {
      margin: -30px 0 100px;
    }
  }

  // connect
  .connect {
    .custom5 {
      margin-bottom: 100px;
    }
    .main-content-row {
      .social-wrapper {
        margin: 0;
      }
    }
  }


}
@media (min-width: $screen-lg-min) {  // min-width 1200
  .agenda {
    .top-bar {
      width: 100%;
    }
  }
}