.page, .post {
  background-color: #f2f2f2;
}

.main-content-row {
  margin: 50px 0;
  float: left;

  .image-left,
  .image-right {
    display: none;
  }
  .right-text {
    h2 {
      color: #52768f;
      &> p > strong {
        font-weight: 300 !important;
      }
    }

  }
  .left-text {
    h2 {
      color: #cb6469;
      &> p > strong {
        font-weight: 300 !important;
      }
    }

  }
  .right-text,
  .left-text {
    .description {
      margin-bottom: 20px;
    }
    .text-wrapper {
      padding: 0 30px;

    }

  }

  .btn-standard {
    text-transform: uppercase;
  }
  .image_container {
    img {
      float: left;
      display: block;
    }

  }
  .span-overlay {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    &> p > strong {
      font-weight: 300 !important;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  //height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $screen-xs-min) { // min-width 480


}

@media (min-width: $screen-sm-min) { // min-width 768
  .main-content-row {
    .image-left,
    .image-right {
      display: block;
    }
  }
}
@media (min-width: $screen-md-min) { // min-width 992
  .page,
  .post {
    .navbar-default {
      background: rgba(255,255,255,0.11);
    }
  }
  .main-content-row {
    float: none;

    .left-text {
      .text-wrapper {
        float: right;
      }
    }
    .left-text,
    .right-text {
      .text-wrapper {
        width: 750px;
        padding: 0 100px;
      }
    }
    &.left-img {
      float: left;
    }
    &.right-img {
      float: right;
    }
    &.all-img {
      float: left;
    }
  }
}
@media (min-width: $screen-lg-min) {  // min-width 1200
  .left-text,
  .right-text {
    .text-wrapper {

    }
  }
}