
a {
  color: $polo-blue;
  &:hover,
  &:visited,
  &:active,
  &:link {
    text-decoration: none;
    color: $polo-blue;
  }
}
body {
  color: $tundoro;
}
body, p, .description {
  font-family: $museo-stack;
  font-weight: 100;
  font-style: normal;
}
h1, h2, h3, h4 {
  font-family: $fira-stack;
  font-style: normal;
  font-weight: 100;
  &> p {
    font-family: $fira-stack;
    font-weight: 300;
    font-style: normal;
    &> strong,
    &> b {
      font-weight: 400;
    }
  }
  &> strong,
  &> b {
    font-weight: 400;
    font-style: normal;
  }
}
strong,
b {
  font-weight: 400;
  font-style: normal;
}
.top-content,
.content-info {
  // Sage titles (uppercase) and footer tagline
  .title {
    font-weight: 600;
    font-size: 18px; // supposed to be 20px
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    color: white;
    line-height: 1.4;
  }

  h1 {
    color: white;
    line-height: 1;
    .location {
      font-style: italic;
      font-size: 36px;
    }
  }

}

.come-back-soon {
  .top-content {
    h1 {
      font-size: 50px;
      font-style: normal;
    }
  }
}


h4 {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  color: $polo-blue;
}

@media (min-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {

  .top-content {
    h1 {
      font-size: 85px;
      font-style: normal;
      line-height: 1;
      margin-top: 33px;
      .location {
        font-size: 75px;
      }
    }
    h3 {
      font-size: 85px;
    }
  }
  .connect {
    .top-content {
      h1 {
        color: white;
        font-weight: 100;
      }
      h3 {
        color: white;
        font-size: 85px;

      }
    }
    h2 {
      &.heading {
        &> p {
          color: $astronaut;
          font-size: 30px;
          font-weight: 100;
        }
      }
    }

  }
}

@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {

}