
a {
  color: $polo-blue;
  &:hover,
  &:visited,
  &:active,
  &:link {
    text-decoration: none;
    color: $polo-blue;
  }
}
body {
  color: $tundoro;
}
body, p, .description {
  font-family: $museo-stack;
  font-weight: 100;
  font-style: normal;
}
h1, h2, h3, h4 {
  font-family: $fira-stack;
  font-style: normal;
  font-weight: 100;
  &> p {
    font-family: $fira-stack;
    font-weight: 300;
    font-style: normal;
    &> strong,
    &> b {
      font-weight: 400;
    }
  }
  &> strong,
  &> b {
    font-weight: 400;
    font-style: normal;
  }
}
strong,
b {
  font-weight: 400;
  font-style: normal;
}
.twitget {
  list-style-type: none;
  list-style-image: url(../images/twitter.png);
  padding-left: 20px;
  &> li {
    font-family: $museo-stack;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
  }
}
h1 {
  line-height: 1;
}
h2 {
  font-style: italic;
}
.come-back-soon {
  h1 {
    font-size: 50px;
    font-style: normal;
  }
}

h3 {
  font-weight: 600;
  font-size: 18px; // supposed to be 20px
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  color: white;
  line-height: 1.4;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  color: $polo-blue;
}

@media (min-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {
  h1 {
    font-size: 85px;
    font-style: normal;
    line-height: 1;
  }
  h2 {
    font-size: 42px;
    font-style: italic;
    line-height: 1;
    font-weight: 100;
  }
  .connect h2 {
    color: $astronaut;
  }
}

@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {

}