// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// to set point that we swap to mobile menu
//$grid-float-breakpoint: 790px;

// Colors
$brand-primary:         #27ae60;
