// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// to set point that we swap to mobile menu
//$grid-float-breakpoint: 790px;

// Colors


$concrete : #f2f2f2;              // page background
$polo-blue : rgb( 146, 181, 211 );// #92B5D3  -  anchor on footer
$astronaut : rgb( 37, 74, 109 );  // #254A6D - Dark blue
$smalt-blue: rgb(82, 118, 143 );  // #52768f; .main-content-row - left H2
$froly   : #cb6469;               //
$elephant : rgb(12,40,59);        // #0C283B background to header images
$black-pearl : #071c2d;           // #071c2d navbar bkg on mobile
$veil : rgba(255,255,255,0.11);   // Navbar background ( desktop )
$tundoro : #454545;
$gray : #8d8d8d;                  // Member digits
$brand-primary : $froly;

.froly {
  color: $froly;
}
.smaltblue {
  color: $smalt-blue;
}

// Font Families

$museo-stack :  "museo-sans", sans-serif;
$fira-stack :  "fira-sans", sans-serif;



// Mixins

@mixin centerer {
  position: absolute;
  transform: translate(-50%, -50%);
}